
<div>
   <h5>Title:</h5>
  <div id="title">
    @ViewBag.title
  </div>
  <h5>Content:</h5>
  <p><em>Please bold words you want to search images for:</em></p>
  <a href="#" id="bolden" class="btn btn-outline-dark">Bold</a><br>
  <div id="content" contenteditable>
    @ViewBag.content
  </div>
<a class="btn btn-secondary" onclick="Update()" >Next => Select Images </a>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script>
  let boldedWords = [];
   $('#bolden').click(function(){
   document.execCommand('bold');
    var selected = document.getElementById("content").innerHTML;
    var highlighted = window.getSelection().toString();
    boldedWords.push(highlighted);
  });

  var Update = function(){
    @* debugger *@
    $.ajax({
        url: "@Url.Action("SelectImage")",
        type: "POST",
        data: { content: $('#content').html() , boldedWords: boldedWords},
        success: function(response) {
            @* alert('success'); *@
            window.location.href = '@Url.Action("SelectImage")';
        }

    });
  }
</script>