@model FormModel

<div >
    <h2>Select Images for your PowerPoint: </h2>
    <p><em>Select images that you want to see on your PowerPoint and click the "Create PowerPoint!" button below.</em></p>
    <ul class="list-group" id="ItemList">
      @foreach (var item in (List<ImageModel>)ViewData["Images"])
      { 
        <li class="list-group-item col-md-4">
          <div class="checkbox">
            <input type="checkbox" id="Check_@item.Id" checked="@item.IsSelected" name="@item.ImageUrl">
            <img class="img-responsive" id="thumbnails_@item.Id" src="@Url.Content(item.ThumbnailUrl)" alt="image" />
          </div>
        </li>
      }
      <li class="list-group-item">
        <a class="btn btn-success" onclick="SaveList()" >Create PowerPoint!</a>
      </li>
    </ul>


<script>
  var SaveList = function() {
    var arrItem = [];
    var arrList = [];
    var commaSeparatedIds = "";
    $("#ItemList li input[type=checkbox]").each(function(index, val) {
      @* debugger *@
      var imgData = $(val).attr("name")
      var checkId = $(val).attr("Id");
      var arr = checkId.split("_");
      var currentCheckboxId = arr[1];
      var isChecked = $("#" + checkId).is(":checked", true);
      if(isChecked) {
        arrItem.push(currentCheckboxId);
        arrList.push(imgData);
      }
    })
    if(arrItem.length != 0){
      @* debugger *@
      commaSeparatedIds = arrItem.toString();
      $.ajax({
        url:"/Form/CreatePowerPoint",
        type: "POST",
        dataType: 'json',
        data: { ItemList: commaSeparatedIds, dataList: arrList },
        success: function(response) {
          console.log(response);
        }
      })
    }
  }
</script>