@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
  <form method="post">
    <table>
      <tr>
        <td><label for="title">Enter Title: </label></td>
        <td><textarea id="title" type="textarea" name="title" ></textarea></td>
      </tr>
      <tr>
        <td><label for="content">Enter Content: </label> </td>
        <td><textarea id="content" type="text" name="content" ></textarea></td>
      </tr>
      <tr>
        <td colspan="2"><input type="submit" value="Submit Form" /></td>
      </tr>
    </table>
  </form>
</div>