@{
    ViewData["Title"] = "Home Page";
}

<div >
  <form method="post">
    <table>
      <tr>
        <td>Enter Title: </td>
        <td><textarea id="title" type="textarea" name="title" ></textarea></td>
      </tr>
      <tr>
        <td>Enter Content: </td>
        <td><textarea id="content" type="text" name="content" ></textarea></td>
      </tr>
      <tr>
        <td><input type="submit" value="Submit" /></td>
      </tr>
    </table>
  </form>
</div>