

@{Html.BeginForm();
  {
    <div>
      Title: <br>
      @Html.TextArea("title", FormModel.Title, new { })
    </div>
    <div>
      Content: <br>
      @Html.TextArea("content", FormModel.Content, new {})
    </div>
    <div>
      <input type="submit" value="Create"/>
    </div>
  }
}
