

@{Html.BeginForm();
  {
    <div>
      <h4>Title:</h4>
      @Html.TextArea("title", FormModel.Title, new { })
    </div>
    <div>
      <h4>Content: </h4>
      @Html.TextArea("content", FormModel.Content, new {})
    </div>
    <div>
      <input class="btn btn-secondary" type="submit" value="Next"/>
    </div>
  }
}
